


/* aside*/

.aside-description{
    bottom: 5%;
    left: 5%;
    color: white;
    max-width: 80%;
}

.nav-item .fa-chevron-down{
    font-size: 10px;
} 


.box{
    background-color: white;
    min-height: 180px;
    border-radius: 10px;
}