


header{
     background: no-repeat center; 
     .navbar-brand{
         padding: 0px;
     }
}


@media(min-width:992px){
    
    .submenu{
        position: absolute;
        top:100%;
        left: 0;
        display: none;
    }
    
}