

.home{
    padding: 180px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.lead-slider .owl-dots{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
    margin-top: 0;
}